POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=badgehub
POSTGRES_USER=badgehub
POSTGRES_PASSWORD=CHANGE_ME

EXPOSED_PORT=9001
NODE_ENV=production

KEYCLOAK_BASE_URL=https://keycloak.badgehub.eu
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=badgehub-eu

CATEGORY_NAMES=Uncategorised,Event-related,Games,Graphics,Hardware,Utility,Wearable,Data,Silly,Hacking,Troll,Unusable,Adult,Virus,SAO,Interpreter,Driver
ADMIN_CATEGORY_NAMES=Default,Featured on P1M
BADGE_SLUGS=why2025,troopers23,mch2022,waveshare_esp32_s3_touch_lcd_2,fri3d_2024,fri3d_2026
BADGEHUB_API_BASE_URL=https://badgehub.eu
REFRESH_REPORTS_INTERVAL_SEC=5

# MQTT reporting is optional. Leave MQTT_SERVER unset to disable it.
# MQTT_USER=
# MQTT_PASSWD=
# MQTT_TOPIC=
# MQTT_SERVER=
# MQTT_INTERVAL_SEC=300
